﻿
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel = "stylesheet" href = "../assets/css/login-style.css">
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Войти</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Электронная почта " value="" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Пароль " value="" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Войти" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Зарегистрироваться</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Электронная почта " value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Пароль " value="" required />
                        </div>
                         <div class="form-group">
                            <input type="password" class="form-control" placeholder="Повторите ваш пароль " value="" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Зарегистрироваться" />
                        </div>
                    </form>
                </div>
            </div>
        </div>